<h1>Bienvenue dans le Garde Films !</h1>

<h2>ou le livre de recette des cinéphiles.</h2><br /><p>Ici, tu peux lister les films que tu as
vu, pour ne jamais les oublier ou même recommender tes films préferés !</p>

<%# <input type="submit" value="Liste des films"> %>
<%=link_to "Liste des films", films_path%>
<%# <input type="submit" value="Ajouter un film"> %>
<%=link_to "Ajouter un film", new_film_path%>
<%# <a href="new.html.erb">Ajouter un film</a> %>
