<div class="container shadow-sm p-3 mb-5 bg-body rounded py-5 px-5 ">
<%= link_to 'Back', films_path%>
<h1 class="pb-4 pt-2">Editing Film</h1>

<%= render 'form', film: @film %>

<%# <%= link_to 'Show', @film %>

</div>
